<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Amazon Bookstore</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet">
<link rel="icon" href="/image/apple-touch-icon.png" />

</head>

<body>
	<div th:fragment="navbar">
	<div class="page-top"
		style="width: 100%; height: 20px; background-color: #f46b42;"></div>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- Removing below code, as we don't want the responsive website -->
				<!--<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>-->

				<a class="navbar-brand" href="#">Amazon Book Store</a>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-left">
					<!-- <li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li> -->
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">BOOKS <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Books on the self</a></li>
							<li><a href="#">Store hours &#38 Directions</a></li>
							<li><a href="#">FAQ</a></li>
						</ul></li>
					<form class="navbar-form">
						<div class="form-group">
							<input type="text" name="keyword" class="form-control"
								placeholder="Book Title" />
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">SHOPPING CART</a></li>
					<li><a sec:authorize="isAnonymous()" th:href="@{/login}">LOGIN</a></li>
					<li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">MY PROFILE</a></li>
					<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>
    </div>

	
	<!-- Bootstrap core JavaScript-->
	<div th:fragment="body-bottom-scripts">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</div>

	<!-- 

 
	-->
	
</body>
</html>